{% extends 'base.html' %}
{% block title %}
login
{% endblock %}
{% block body %}
  <div class="container">
    <div class="row justify-content-center mt-5">
      <div class="col-lg-4">
        <h2 class="text-center mb-4">Login</h2>
        <form method="POST">
          {% csrf_token %}
          {% for message in messages %}
          <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <strong>Hey!</strong> {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div><br><br>
          {% endfor %}
          <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input type="text" class="form-control" id="username" name="username" required>
          </div>
          <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="password" name="password" required>
          </div>
          <div class="mb-3">
            <button type="submit" class="btn btn-primary w-100">Login</button>
             <a class="nav-link" href="{% url 'forget_pass' %}">Forgot password</a>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}

